# A 9-hour Python tutorial focusing on data processing

![Creative Commons License](https://i.creativecommons.org/l/by/4.0/88x31.png)  
This work by Jephian Lin is licensed under a [Creative Commons Attribution 4.0 International License](http://creativecommons.org/licenses/by/4.0/).

## 5. List

Add a new element by `append` and  
delete an element by `remove`.

In [1]:
a = [1,2,3]
a.append(4)
a

[1, 2, 3, 4]

In [2]:
a.remove(2)
a

[1, 3, 4]

Use the `len` function to output the length of a list.

In [3]:
len(a)

3

Get an element by its index (starting from 0).

In [4]:
a = [3,1,4,1,5,9]
a[2]

4

`a[k]` gives the value of a **list** `a` with index `k`.  
`f(k)` returns the value of a **function** `f` with input `k`.

In [5]:
f = lambda k : k**2
f(3)

9

`a(k)` will raise an error saying   
**list is not callable**.

In [ ]:
a(3)

`f[k]` will raise an error saying  
**function is not subscriptable**

In [ ]:
f[3]

For lists,  
**addition means concatenation**  
**multiplication means duplication**

In [7]:
a = [1,2,3]
b = [4,5,6]
a + b

[1, 2, 3, 4, 5, 6]

In [8]:
a * 4

[1, 2, 3, 1, 2, 3, 1, 2, 3, 1, 2, 3]

This is different from `ndarray` in NumPy.

In [11]:
import numpy as np

a = np.array([1,2,3])
b = np.array([4,5,6])
print("a + b =", a + b)
print("a * 4 =", a * 4)

a + b = [5 7 9]
a * 4 = [ 4  8 12]

### Negative index and slicing
A negative index means counting from the end.

In [21]:
c = [0,1,2,3,4,5]
c[-1]

5

If `c` is a list  
then `c[a:b]` is the sublist of `c` from index `a` to index `b-1`.  
When `a` or `b` is missing,  
the sublist will go to the left end or the right end.

    entries:  c[0] c[1] c[2] c[3] c[4] c[6]
    indices: 0    1    2    3    4    5    6

In [22]:
c[2:4]

[2, 3]

In [23]:
c[2:]

[2, 3, 4, 5]

In [24]:
c[:4]

[0, 1, 2, 3]

In [25]:
c[2:-1]

[2, 3, 4]

### Changing the value
Use `=` to assign a value to a position or  
assign a sublist to a list slicing.

In [26]:
a = list(range(10))
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [27]:
a[-1] = 100
a

[0, 1, 2, 3, 4, 5, 6, 7, 8, 100]

In [28]:
a[2:7] = [-1] * 5
a

[0, 1, -1, -1, -1, -1, -1, 7, 8, 100]

#### Exercise 
Use `lambda` method to create a function `f(x)`  
that takes a number `x` as the input  
and outputs the value `x+5`.

In [29]:
### your answer here

#### Exercise
Use `lambda` method to create a function `f(x)`  
that takes a list `x` as the input  
and outputs the last element in `x`.

In [30]:
### your answere here

#### Exercise
Create a list of zeros with length `n`.

In [31]:
n = 100
### your answer here

#### Exercise
Create a list `[1,2,3,4,...,4,3,2,1]`  
where the `4` repeats `n` times.

In [32]:
n = 100
### your answer here

#### Exercise 
Be carefule when you use `*`  
to do the duplication.  

For the next two cells,  
the initial values for `a` and `b` are both 
```Python
[[0, 0, 0, 0], [0, 0, 0, 0], [0, 0, 0, 0]]
```

Guess the outputs of the next two cells.  
Then check if you are correct.  
Explain what happened.

In [ ]:
a = [[0]*4]*3
print("Old a =", a)

a[0][0] = 1
print("New a =", a)

In [ ]:
b = []
for _ in range(3):
    b.append([0]*4)
print("Old b =", b)
    
b[0][0] = 1
print("New b=", b)

#### Exercise
Create a list of zeros with length 6.  
Roll Jephian's dice 60000 times.  
Use the six positions in the list to record the occurrences of `1,...,6`.

In [37]:
### Run this cell first to create the dice

import random

random.seed(10)  ### You can change a dice by changing the number here
my_secret = random.randint(1,6)
random.seed(None)

def roll_Jephian_dice():
    p_space = list(range(1,7)) + [my_secret] * 5
    return random.choice(p_space)

In [38]:
### your answer here

#### Exercise
Write a function `Fibonacci(n)` that 
returns the Fibonacci sequence `[a[0],a[1],...,a[n]]`.

Recall that the Fibonacci sequence has $a_0=a_1=1$ and $a_k=a_{k-1}+a_{k-2}$.

In [39]:
### your answer here

#### Exercise
Write a function `left_shift(l)`  
that takes a list `l` and  
outputs another list `[l[1],...,l[n-1],l[0]]`.

For example, `left_shift([1,2,3,4,5])` would be `[2,3,4,5,1]`.

In [40]:
### your answer here

#### Exercise
Similarly, write a function `right_shift(l)`  
that takes a list `l` and  
outputs another list `[l[n-1],l[0],...,l[n-2]]`.

In [41]:
### your answer here

#### Exercise
Without using the built-in `max` function,
write a function `my_max(l)`  
that takes a list `l` of numbers as the input  
and outputs the maximum number in `l`.

In [42]:
### your answer here

#### Exercise
Write a function `max_ind(l)`  
that takes a list `l` of numbers as the input  
and outputs the index of the maximum numhber in `l`.  
(If there are more than one maximum numbers, return the index of any of them.)

In [43]:
### your answer here

#### Exercise
Create a list of integers k between 1 and 100 such that  
`k % 3 = 2` and `k % 5 = 3`.  
How many are they?

In [44]:
### your answer here

### List comprehension
List comprehension allows you to create a list 
through `for` and `if` in an easy way.

Use `for` to create a list.

In [45]:
[k**2 for k in range(6)]

[0, 1, 4, 9, 16, 25]

Use `if` to select particular values.

In [46]:
[k**2 for k in range(6) if k%2==1]

[1, 9, 25]

You may use more than one `for` loops.

In [47]:
[(i,j) for i in range(3) for j in range(3)]

[(0, 0), (0, 1), (0, 2), (1, 0), (1, 1), (1, 2), (2, 0), (2, 1), (2, 2)]

In [48]:
[i+j for i in range(3) for j in range(3)]

[0, 1, 2, 1, 2, 3, 2, 3, 4]

In [49]:
[i+j for i in range(3) for j in range(3) if i == j]

[0, 2, 4]

Similar syntax applies to dictionaries.

In [50]:
{k:k^2 for k in range(6) if k%2==1}

{1: 3, 3: 1, 5: 7}

### Functions for a list

Consider a list `a`.

`sum(a)` returns the sum of the elements in `a`.  

Note that `+` might have different meaning for different objects.

In [51]:
a = [1,2,3]
sum(a)

6

In [52]:
a = [[0,1,2],[2,3,4],[4,5,6]]
sum(a,[]) ### check sum? to see the meaning of the second argument

[0, 1, 2, 2, 3, 4, 4, 5, 6]

`max(a)` and `min(a)` return the max element and the min element in the list `a`.

In [53]:
a = [6,2,14,8,5]
max(a)

14

In [54]:
min(a)

2

`a.sort()` modifies `a` itself so that the elements are from small to large.  
If `reverse=True`, then it is from large to small.  
Use `key` to set a sorting criterion. 

Note:  If you don't want to modify `a` itself, you may use `sorted(a)`.

In [55]:
a = [6,2,14,8,5]
a.sort()
a

[2, 5, 6, 8, 14]

In [56]:
a = [6,2,14,8,5]
a.sort(reverse=True)
a

[14, 8, 6, 5, 2]

In [58]:
a.sort(key=lambda k: k % 5)
a

[5, 6, 2, 8, 14]

`any(a)` returns True if `bool(x)` is `True` for any `x` in the iterable `a`.

In [59]:
a = [True, False, False]
any(a)

True

In [60]:
a = [0, 0, 0]
any(a)

False

In [61]:
a = [[], [], []]
any(a)

False

Consider two lists `a` and `b`.

`zip(a,b)` is a generator for   
`(a[0],b[0]), (a[1],b[1]), ...`.

In [62]:
a = ['four','two','three','one','zero']
b = [4,2,3,1,0]
for i,j in zip(a,b):
    print(i,j)

four 4
two 2
three 3
one 1
zero 0

`enumerate(a)` is a generator for  
`(0,a[0]), (1,a[1]), ...`

In [63]:
for ind, val in enumerate(a):
    print(ind,val)

0 four
1 two
2 three
3 one
4 zero

Consider a function `f` and a list `a`.

`map(f, a)` is a generator of  
`f(a[0]), f(a[1]), ...`.

In [64]:
for i in map(lambda k: k**2, range(5)):
    print(i)

0
1
4
9
16

In [65]:
text_to_num = {"zero":0, "one":1, "two":2, "three":3, "four":4, "five":5, "six":6, "seven":7, "eight":8, "nine": 9}

for i in map(lambda k: text_to_num[k], ["three","one","four","one","five","nine"]):
    print(i)

3
1
4
1
5
9

#### Exercise
In one line, compute the value $\sum_{k=1}^{10} k^2$.

In [66]:
### your answer here

#### Exercise
In one line, compute the value of $1^2+3^2+\cdots + 15^2$.

In [67]:
### your answer here

#### Exercise
`l` is a list of lists.  
In one line, sort the lists in `l` by their last elements.

In [68]:
l = [[1,3,2],
     [2,2,4],
     [3,1,6,3,1],
     [6,7],
     [9,2,0],
     [0,0,0,0,0,3]]
### your answer here


print(l)

[[1, 3, 2], [2, 2, 4], [3, 1, 6, 3, 1], [6, 7], [9, 2, 0], [0, 0, 0, 0, 0, 3]]

#### Exercise
Use `max` and its keyword `key`  
to write a function `max_index(l)`  
that takes a list and returns the index of the maximum element.  
(If more than one maximum element, just return one.)

In [69]:
### your answer here

#### Exercise
Here `month_to_days` is a dictionary of the form  
`{ month: number of days in that month}`.

Use `lambda` to create a function  
that sends the name of the month  
to the number of days in the month.

In [70]:
month_to_days = {'January': 31, 'February': 28, 'March': 31, 'April': 30, 
                 'May': 31, 'June': 30, 'July': 31, 'August': 31, 
                 'September': 30, 'October': 31, 'November': 30, 'December': 31}
### your answer here

#### Exercise
Here `month_to_days` is a dictionary of the form  
`{ month: number of days in that month}`.

Create a list of months, sorted by the number of days in them.

In [71]:
month_to_days = {'January': 31, 'February': 28, 'March': 31, 'April': 30, 
                 'May': 31, 'June': 30, 'July': 31, 'August': 31, 
                 'September': 30, 'October': 31, 'November': 30, 'December': 31}
months = list(month_to_days.keys())

### your answer here

### Copy and view

A list is stored in a sequence of memories in the computer.  
If `a` is a list, then 
```Python
b = a
```
only passes the memory address of `a` to `b`.

Changing `b` will also cause a change to `a`.  
So `b` only takes a **view** of `a`.

In [72]:
a = [1,2,3,4,5]
b = a
b[0] = -1
print(a)
print(b)

[-1, 2, 3, 4, 5]
[-1, 2, 3, 4, 5]

In [73]:
print(id(a))
print(id(b))

139692492198600
139692492198600

Use `a.copy()` to create a **copy** of `a`  
if you want to preserve the values in `a`.

In [74]:
a = [1,2,3,4,5]
b = a.copy()
b[0] = -1
print(a)
print(b)

[1, 2, 3, 4, 5]
[-1, 2, 3, 4, 5]

In [75]:
print(id(a))
print(id(b))

139692491716808
139692491716616